{% load static %}

<!DOCTYPE html>
<html>
<head>
	<link href=" {% static 'semantics-ui/semantic.min.css' %}" rel="stylesheet"  type="text/css">
	<link href="{% static 'main.css' %}" rel="stylesheet"  type="text/css">
	<script src="{% static 'jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'semantics-ui/semantic.min.js' %}"></script>	
</head>
<body>
<div class="wrapper">
	<div class="ui segment topsegment">
		<div class="ui segment mainwindow">
			<h1 class="white">SELECT SIZE<h1>
			<a href="{% url 'option' option=4 %}"><div class ="ui orange button four sizeresolution"><h1>4*4</h1></div></a><br><br>
			<a href="{% url 'option' option=5 %}"><div class ="ui green button five sizeresolution"><h1>5*5</h1></div></a><br><br><!-- 
			<a href="{% url 'option' option=8 %}"><div class ="ui green button eight sizeresolution">8*8</div></a> -->
			<div class="ui horizontal statistics mainicon">
				<div class="white statistic">
					<div class="value">
						<i class="grid layout icon"></i>.2048
					</div>
				</div>
			</div>	
		</div>
	</div>	
</div>	
<script type="text/javascript" src="{% static 'twozero.js' %}">
	
</script>
</body>
</html>