.center {
  text-align: center; }

#loginsegment {
  margin-top: 15em;
  margin-left: 33em;
  margin-right: 33em; }

#signupsegment {
  margin-top: 5em;
  margin-left: 33em;
  margin-right: 33em; }

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.logsign {
  background-color: #4d5656; }

#logform {
  color: white; }

#signform {
  color: white; }

#header {
  height: 15em; }

.campsegmentheader {
  height: 14em;
  border-radius: 3em;
  border-color: black;
  border: 1em;
  margin-top: 0em !important; }

.campsegmentfooter {
  background-color: white;
  height: auto;
  background: beige !important; }

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px; }

.visit {
  /*border-radius: 0.285714rem 0.285714rem 0.285714rem 0.285714rem;*/
  margin: -1em; }

.camplistsegment {
  background-color: cornsilk; }

.cardtitle {
  text-align: center; }

.cardorganised {
  text-align: center; }

.ctitle {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 0em !important; }

.camptitle {
  height: 7em !important;
  margin-bottom: -1em !important; }

.currentcamp {
  background-color: white;
  height: auto;
  margin: 1em; }

.campsegmentfooter {
  background-color: white;
  height: auto; }

.topchart {
  background-color: white;
  height: 45em;
  background: beige !important; }

.userimg {
  margin-left: 2.5em; }

.userimagecamp {
  padding-bottom: 0em; }

.goalamt {
  margin-left: 7em; }

.equalsegmentheight {
  height: 43em; }

.tablesegment {
  height: 48.5em;
  margin-top: 0em !important; }

.splittable {
  margin-left: 33em !important;
  margin-right: 31em !important;
  width: 27em !important;
  border-color: black !important; }

.donatebuttonmanually {
  margin-left: 40em !important; }

.textsplitmanualy {
  margin-left: 23.5em !important; }

#campimg {
  height: 18em !important; }

.blackcolor {
  color: black !important;
  font-size: 16px !important;
  font-size: 1rem !important; }

.homelogout {
  margin-left: 86em; }

.greentext {
  color: green !important; }

.ui.big.image, .ui.big.images .image, .ui.big.images img, .ui.big.images svg {
  width: 600px !important;
  height: 17em !important;
  font-size: 20.571px;
  font-size: 1.28571429rem; }

.successresult {
  margin-top: 12em !important;
  margin-left: 30em !important;
  MARGIN-RIGHT: 29em !important;
  height: 17em !important; }
