.mainwindow{
	margin-bottom: 10em !important;
    margin-top: 2em !important;
    margin-right: 30em !important;
    margin-left: 32em !important;
    height: 34em !important;
    width: 29em !important;
    background-color: grey !important;
    padding: 1em !important;
}

.topsegment{
	height:48.5em !important;
    background-color: #FADBD8 !important;
}

.childwindow{
	height: 27em !important;
    width: 27em !important;
    background-color: #bbada0 !important;
}

.cellgrid{
	height: inherit;
}

.cellblock{
	padding: 0em !important;
}

.cells{
	padding: 0em !important;
}

.colcell{
	padding: 0em !important
}

.cells{
    font-size: 2em !important;
}

.buttons{
    padding: 0.2em !important;
    margin-left: 2em !important; 
    margin-top: 0em !important;
    background-color: #ffffff !important;
}

.highscore{
    margin-top: -6em !important;
    height: 6em !important;
}

.valuescore{
    margin-left: 0em !important;
    margin-top: 0em !important;
}

.yourscore{
    margin-left: 11em !important;
    margin-top: -0.5em !important;
}

.sizeresolution{
    height: 5em !important;
    width: 27em !important;
}

.mainicon{
    margin-left: 4em !important;
}

.white{
    color:white !important;
}